In [102]:
import pandas as pd
import numpy as np

In [103]:
#download the class movie reviews from here:
#https://docs.google.com/spreadsheets/d/17rCJzmWxqvAu9rkpkgt4ToccIlY4A1Ffuu1W9X3B8Ag/
#then read that in as a pandas dataframe

In [104]:
M = pd.read_csv("Movie_Reviews.csv", index_col='Name')

In [105]:
M.head()

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
Name,,,,,,,,,,,,,,,,
Aarti Jaiswal,4,NaN,NaN,NaN,4,3,NaN,5,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN
Aditya Dharmasagar,5,NaN,NaN,4,5,4,4,NaN,4,5,5,5,4,4,NaN,5
Adrian Cavallaris,NaN,4,3,NaN,4,2,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN
Ahmed Muheebuddin,5,NaN,4,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aishwarya reddy,NaN,3,4,3,4,4,3,NaN,4,4,3,5,NaN,4,NaN,3

In [75]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [76]:
def get_recs(movie_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

###Question 1:  What movie is most Similar to 'The fault in our stars' (60 pts)

In [167]:
x = get_recs('The Fault in Our Stars', M, 1)
print "The movie most Similar to 'The fault in out stars' is", x[0][0], "with a correlation of", x[0][1]

The movie most Similar to 'The fault in out stars' is Malificent with a correlation of 0.429069476065

###Question 2:  Which movie(s) would you most like to see, based on your classmates experience? (40 pts)

In [94]:
my_ratings = M.ix['Josna Rajan'].dropna()

In [96]:
# find my personal favorites, i.e. the list of movies that I rated with 5 stars...
ratings = len(my_ratings)
max_rating = my_ratings.max()
fav_movies = []
for i in range(ratings):
    if my_ratings[i] == max_rating:
        fav_movies.append(my_ratings.index[i])

In [135]:
# drop my ratings before averaging the ratings given by my friends.
friends_ratings = M.drop('Josna Rajan')

In [144]:
num_of_movies = len(friends_ratings.columns)
avg_ratings = dict()
for i in range(num_of_movies):
    key = friends_ratings.columns[i]
    value = friends_ratings[key].mean()
    avg_ratings[key] = value

In [149]:
avg_ratings = sorted(avg_ratings.items(), key=lambda x: x[1], reverse=True)

In [178]:
# from the average ratings list, remove the movies that I have already watched. the remaining ones would be the ones
# i want to see in decreasing order of priority
avgs = len(avg_ratings)
to_watch = []
for i in range(avgs):
    if avg_ratings[i][0] not in my_ratings:
        to_watch.append(avg_ratings[i])

In [184]:
# Hence, the top 5 movies that I would like to watch, based on my friends's ratings would be as follows...
to_watch[0:5]

[('Interstellar', 4.564102564102564),
 ('Big Hero 6', 4.130434782608695),
 ('Guardians of the Galaxy', 4.018518518518518),
 ('Unbroken', 3.727272727272727),
 ('The Fault in Our Stars', 3.5714285714285716)]

###Question 3: Bonus Question...  For all the movies you haven't seen, can you predict how you'd rate them using your the class reviews? (10 pts)

In [214]:
# Ratings for the movies I haven't watched are as follows...

In [215]:
to_watch

[('Interstellar', 4.564102564102564),
 ('Big Hero 6', 4.130434782608695),
 ('Guardians of the Galaxy', 4.018518518518518),
 ('Unbroken', 3.727272727272727),
 ('The Fault in Our Stars', 3.5714285714285716),
 ('Godzilla', 3.4651162790697674),
 ('The Lego Movie', 3.324324324324324),
 ('Malificent', 3.303030303030303),
 ('The Hunger Games: Mockingjay - Part 1', 3.2888888888888888)]